<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Game Score Site with Spring</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
<h1> th:text="${pageHeader}"</h1>
<a href="/">Back</a>

<form th:object="${value}" th:action="@{'/search'}"  method="get">
    <label>Search: </label>
    <input type="text" size="64" th:field="*{searchValue}" />
    <input type="submit" value="Submit" />

    <p class="warning" th:if="${#fields.hasErrors('searchValue')}">value cannot be empty.</p>
</form>


<div th:if="${entries.isEmpty()}">
    <p>There are no entries in the score site. Please add some.</p>
</div>
<table>
    <tr>
        <th>User</th><th>Comment</th><th>Game Title</th><th>Game Score</th><th>Created</th><th>Modified</th><th>Delete</th><th>Update</th>
    </tr>
    <tr th:each="entry: ${entries}">
        <td th:text="${entry.user}"></td>
        <td th:text="${entry.comment}"></td>
        <td th:text="${entry.gameTitle}"></td>
        <td th:text="${entry.score}"></td>
        <td th:text="${entry.created}"></td>
        <td th:text="${entry.modified}"></td>
        <td><a th:href="@{'/delete/' + ${entry.id}}">Delete</a></td>
        <td><a th:href="@{'/update/' + ${entry.id}}">Update</a></td>
    </tr>
</table>





</body>
</html>